html, body{
    margin: auto;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: inter;
}
*{
    box-sizing: border-box;
}
header{
    display: flex;
    height: 65px;
     margin-left: 5rem;
}
.header{
    margin-top: 1.5rem;
    display: flex;
    background-color: #FFFFFF;
}
.post{
    color: #080B1D;
    width: 8.01px;
    height: 16.54px;
    top: 8.06px;
    left: 154.3px;
    font-weight: 700;
}
.resources{
    display: flex;
    width:129.48px;
    height: 56px;
    padding: 19px 0px 0px 0px;
    gap: 10.48px;
}
.success{
    padding: 19px 20px 0px 0px;
}
.company{
    display: flex;
    width:125.59px;
    height:56px;
    left: 274.95px;
    padding: 19px 0px 0px 0px;
    gap: 8.59px;
}
.price{
    padding: 19px 0px 0px 0px; 
}
.sub-header{
    display: flex;
    margin-left: 15rem;
    gap: 12px;
}
.image{
    width:10px;
    height:6px;
    margin-top: 1.5rem;
}
.button{
    margin-left: 12rem;
    width: 284.7px;
    height: 44px;
    margin-top: 2rem;
}
.button1{
    width:83.84px;
    height: 44px;
    padding: 14px 21.84px 12px 22px;
    border-radius: 12px;
    border: 2px 0px 0px 0px;
    background-color: #FFFFFF;
    
}
.button2{
    width: 184.86px;
    height: 44px;
    padding: 14px 25.86px 12px 25px;
    border-radius: 12px;
    border: 2px 0px;
    background-color: #FF6D2C;
    color: white;
}
