body{
    margin: 0;
    place-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}
form{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
    grid-gap: 15px;
    padding: 20px;

}
h2{
    text-align: center;
}
button{
    border-radius: 20px;
    width: 350px;
    height: 3rem;
    place-items: center;
    margin-top: 1rem;
}
button:hover{
    background-color:red;
}
input{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
}
label{
    font-size: x-large;
}p{
    text-align: center;
}